# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# test result
/coverage
/.nyc_output

# sonar
/.scannerwork

# environment
.env
.vscode

# misc
.DS_Store

\.idea/

# vscode
.vscode

# release
/releases

# logs
/logs
